openapi: 3.0.3
info:
  title: EasyWords API
  description: |
    API для платформы изучения словарного запаса EasyWords.

    Пользователи могут сохранять слова, изучать их с помощью флеш-карточек,
    получать примеры использования слов и делиться ими с другими пользователями.

    API соответствует спецификации JSON:API.
  version: 1.0.0
  contact:
    name: EasyWords Team
    url: https://easywordsapp.ru
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.easywordsapp.ru/api/v1
    description: Production server
  - url: http://localhost:8000/api/v1
    description: Local development server

tags:
  - name: Authentication
    description: Операции аутентификации и авторизации
  - name: Users
    description: Операции с пользователями
  - name: Words
    description: Операции со словами
  - name: Samples
    description: Операции с примерами слов
  - name: Examples
    description: Операции с примерами использования слов (AI-генерация)
  - name: Statistics
    description: Получение статистики
  - name: Translation
    description: Получение перевода слов (AI-генерация)

paths:
  /translate:
    get:
      tags:
        - Translation
      summary: Получить перевод слова
      description: |
        Возвращает перевод для указанного слова на русский язык.

        Система сначала ищет слово во внутренней базе данных пользователей.
        Если слово не найдено, запрашивает перевод через OpenAI API.

        Перевод ограничен 100 символами и возвращается в краткой форме.
      operationId: getWordTranslation
      security:
        - BearerAuth: []
      parameters:
        - name: word
          in: query
          description: Слово для перевода
          required: true
          schema:
            type: string
            maxLength: 255
            example: hello
        - name: language
          in: query
          description: Код языка слова (en, de, и т.д.)
          required: true
          schema:
            type: string
            maxLength: 2
            example: en
      responses:
        '200':
          description: Перевод успешно получен
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordTranslationResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Ошибка валидации
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Ошибка при получении перевода через OpenAI API
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /token:
    post:
      tags:
        - Authentication
      summary: Создать токен авторизации
      description: |
        Создает токен авторизации по email и паролю пользователя.
        Возвращает токен и данные пользователя в формате JSON:API.
      operationId: createToken
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  description: Email пользователя
                  example: user@example.com
                password:
                  type: string
                  format: password
                  description: Пароль пользователя
                  example: secret123
      responses:
        '201':
          description: Токен успешно создан
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Неверные учетные данные
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Ошибка валидации
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

  /signout:
    post:
      tags:
        - Authentication
      summary: Удалить текущий токен (выход)
      description: |
        Удаляет текущий токен авторизации пользователя.
        Требует наличия валидного токена в заголовке Authorization.
      operationId: signout
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Токен успешно удален
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /me:
    get:
      tags:
        - Users
      summary: Получить информацию о текущем пользователе
      description: |
        Возвращает информацию о текущем авторизованном пользователе.
        Требует наличия валидного токена в заголовке Authorization.
      operationId: getCurrentUser
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Информация о пользователе
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /users:
    get:
      tags:
        - Users
      summary: Получить список всех пользователей
      description: |
        Возвращает список всех пользователей в системе.
        Поддерживает режим краткого отображения через параметр short_mode.
      operationId: getUsers
      security:
        - BearerAuth: []
      parameters:
        - name: short_mode
          in: query
          description: Режим краткого отображения (только базовые поля)
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Список пользователей
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserResource'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /user/password:
    put:
      tags:
        - Users
      summary: Изменить пароль пользователя
      description: |
        Изменяет пароль текущего авторизованного пользователя.
        Требует текущий пароль для подтверждения.
      operationId: updatePassword
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - current_password
                - password
              properties:
                current_password:
                  type: string
                  format: password
                  description: Текущий пароль пользователя
                  example: oldpassword123
                password:
                  type: string
                  format: password
                  description: Новый пароль пользователя
                  example: newpassword123
      responses:
        '204':
          description: Пароль успешно изменен
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Ошибка валидации
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

  /words:
    get:
      tags:
        - Words
      summary: Получить список слов пользователя
      description: |
        Получает список слов авторизованного пользователя с учётом настроек:
        - фильтрация по языку (обязательный параметр)
        - режим сортировки
        - показ/скрытие изученных, импортированных и общих слов
      operationId: getUserWords
      security:
        - BearerAuth: []
      parameters:
        - name: language
          in: query
          description: Код языка для фильтрации (EN, DE, ES, FR, IT, RU)
          required: true
          schema:
            type: string
            enum: [EN, DE, ES, FR, IT, RU]
            example: EN
      responses:
        '200':
          description: Список слов пользователя
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordsPaginatedResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Ошибка валидации
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

    post:
      tags:
        - Words
      summary: Создать новое слово
      description: |
        Создает новое слово для авторизованного пользователя.
        Принимает оригинальное слово, перевод и код языка.
      operationId: createWord
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - original
                - translated
                - language
              properties:
                original:
                  type: string
                  maxLength: 255
                  description: Оригинальное слово
                  example: hello
                translated:
                  type: string
                  maxLength: 255
                  description: Перевод слова
                  example: привет
                language:
                  type: string
                  maxLength: 10
                  description: Код языка
                  enum: [EN, DE, ES, FR, IT, RU]
                  example: EN
      responses:
        '201':
          description: Слово успешно создано
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Ошибка валидации
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

  /words/with-filters:
    get:
      tags:
        - Words
      summary: Получить список слов с фильтрацией
      description: |
        Получает список слов авторизованного пользователя с гибкой фильтрацией.
        Поддерживает фильтрацию по статусу изучения, общим словам,
        источнику и избранным словам.
      operationId: getUserWordsWithFilters
      security:
        - BearerAuth: []
      parameters:
        - name: done
          in: query
          description: Фильтрация по статусу изучения
          required: false
          schema:
            type: string
            enum: [true, false]
        - name: shared
          in: query
          description: Фильтрация по общим словам
          required: false
          schema:
            type: string
            enum: [true, false]
        - name: from_sample
          in: query
          description: Фильтрация по источнику (импортированные)
          required: false
          schema:
            type: string
            enum: [true, false]
        - name: starred
          in: query
          description: Фильтрация по избранным
          required: false
          schema:
            type: string
            enum: [true, false]
      responses:
        '200':
          description: Список слов с фильтрацией
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordsPaginatedResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Ошибка валидации
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

  /random:
    get:
      tags:
        - Words
      summary: Получить случайные слова
      description: |
        Получает случайные слова для изучения с учётом настроек пользователя:
        - фильтрация по языку (default_language)
        - исключение изученных слов (если known_enabled === false)
        - ограничение количества слов (по умолчанию 20)
      operationId: getRandomWords
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Максимальное количество слов
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Массив случайных слов
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WordResource'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /words/start:
    get:
      tags:
        - Words
      summary: Запустить сессию изучения
      description: |
        Запускает новую сессию изучения слов или продолжает существующую.

        Система использует кэш для управления состоянием сессии:
        - Если сессия уже существует (есть кэш words.start.{user_id}), возвращает текущее слово
        - Иначе создаёт новую сессию с указанным количеством слов

        Ключи кэша:
        - words.start.{user_id} - массив ID слов в сессии
        - words.current.{user_id} - ID текущего слова
        - words.next.{user_id} - ID следующего слова
        - words.prev.{user_id} - ID предыдущего слова (null в начале)
      operationId: startStudySession
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Количество слов для изучения
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 10
        - name: reverse
          in: query
          description: Перемешать слова в обратном порядке
          required: false
          schema:
            type: boolean
            default: false
            example: false
      responses:
        '200':
          description: Сессия успешно запущена
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordWithSessionMetaResponse'
        '400':
          description: Нет доступных слов для изучения
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Ошибка валидации
          content:
            application/vnd.api+json:
            schema:
              $ref: '#/components/schemas/ValidationErrorResponse'

  /words/next:
    get:
      tags:
        - Words
      summary: Переход к следующему слову
      description: |
        Переходит к следующему слову в активной сессии изучения.

        Алгоритм работы:
        1. Берёт ID следующего слова из кэша (words.next.{user_id})
        2. Устанавливает его как текущее (words.current.{user_id})
        3. Текущее слово становится предыдущим (words.prev.{user_id})
        4. Находит следующее слово в массиве сессии (words.start.{user_id})
        5. Сохраняет ID следующего слова в кэш (words.next.{user_id})
        6. Инкрементирует счётчик просмотров слова

        Если следующего слова нет (null), возвращает ошибку.
        Если сессия не найдена, возвращает ошибку.
      operationId: goToNextWord
      security:
        - BearerAuth: []
      parameters:
        - name: reverse
          in: query
          description: Перемешать слова в обратном порядке
          required: false
          schema:
            type: boolean
            default: false
            example: false
      responses:
        '200':
          description: Успешный переход к следующему слову
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordWithSessionMetaResponse'
        '400':
          description: Нет следующего слова или сессия не найдена
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /words/prev:
    get:
      tags:
        - Words
      summary: Переход к предыдущему слову
      description: |
        Переходит к предыдущему слову в активной сессии изучения.

        Алгоритм работы:
        1. Берёт ID предыдущего слова из кэша (words.prev.{user_id})
        2. Устанавливает его как текущее (words.current.{user_id})
        3. Текущее слово становится следующим (words.next.{user_id})
        4. Находит предыдущее слово в массиве сессии (words.start.{user_id})
        5. Сохраняет ID предыдущего слова в кэш (words.prev.{user_id})
        6. Инкрементирует счётчик просмотров слова

        Если предыдущего слова нет (null), возвращает ошибку.
        Если сессия не найдена, возвращает ошибку.
      operationId: goToPrevWord
      security:
        - BearerAuth: []
      parameters:
        - name: reverse
          in: query
          description: Перемешать слова в обратном порядке
          required: false
          schema:
            type: boolean
            default: false
            example: false
      responses:
        '200':
          description: Успешный переход к предыдущему слову
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordWithSessionMetaResponse'
        '400':
          description: Нет предыдущего слова или сессия не найдена
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /words/{wordId}:
    get:
      tags:
        - Words
      summary: Получить слово по ID
      description: |
        Возвращает слово по ID. Проверяет, что слово принадлежит авторизованному пользователю.
      operationId: getWord
      security:
        - BearerAuth: []
      parameters:
        - name: wordId
          in: path
          description: ID слова
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Данные слова
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Слово не принадлежит пользователю
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Слово не найдено
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Words
      summary: Удалить слово
      description: |
        Удаляет слово по ID. Проверяет, что слово принадлежит авторизованному пользователю.
      operationId: deleteWord
      security:
        - BearerAuth: []
      parameters:
        - name: wordId
          in: path
          description: ID слова
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Слово успешно удалено
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Слово не принадлежит пользователю
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Слово не найдено
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /words/{wordId}/views:
    post:
      tags:
        - Words
      summary: Увеличить счётчик просмотров
      description: |
        Увеличивает счётчик просмотров слова на 1.
      operationId: incrementWordViews
      security:
        - BearerAuth: []
      parameters:
        - name: wordId
          in: path
          description: ID слова
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Счётчик просмотров увеличен
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Слово не принадлежит пользователю
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /words/{wordId}/starred:
    put:
      tags:
        - Words
      summary: Изменить статус избранного
      description: |
        Обновляет статус избранного у слова (true или false).
      operationId: toggleWordStarred
      security:
        - BearerAuth: []
      parameters:
        - name: wordId
          in: path
          description: ID слова
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - starred
              properties:
                starred:
                  type: boolean
                  description: Статус избранного
                  example: true
      responses:
        '200':
          description: Статус избранного обновлен
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Слово не принадлежит пользователю
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Ошибка валидации
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'

  /words/{wordId}/learned:
    post:
      tags:
        - Words
      summary: Пометить слово как выученное
      description: |
        Помечает слово как выученное, устанавливая поле done_at в текущее время.
      operationId: markWordAsLearned
      security:
        - BearerAuth: []
      parameters:
        - name: wordId
          in: path
          description: ID слова
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Слово помечено как выученное
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Слово не принадлежит пользователю
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /words/share:
    post:
      tags:
        - Words
      summary: Поделиться словом с другим пользователем
      description: |
        Создает копию слова для указанного пользователя на основе оригинального слова.
        Проверяет, что оригинальное слово принадлежит авторизованному пользователю.
      operationId: shareWord
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - word_id
                - user_id
              properties:
                word_id:
                  type: integer
                  description: ID слова для шаринга
                  example: 123
                user_id:
                  type: integer
                  description: ID пользователя, которому отправляется слово
                  example: 456
      responses:
        '201':
          description: Слово успешно отправлено
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/WordResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Слово не принадлежит пользователю
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Слово или пользователь не найдены
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /statistics:
    get:
      tags:
        - Statistics
      summary: Получить статистику пользователя
      description: |
        Возвращает статистику по словам авторизованного пользователя:
        - общее количество слов
        - количество избранных слов
        - количество изученных и неизученных слов
        - общее количество просмотров
        - топ-10 просматриваемых слов
        - слова добавленные сегодня
        - количество обновлённых слов сегодня и в этом месяце
        - количество пользователей в системе
      operationId: getUserStatistics
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Статистика пользователя
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /samples/import/{language}:
    post:
      tags:
        - Samples
      summary: Импортировать samples в личный словарь
      description: |
        Импортирует глобальные samples указанного языка в личный словарь пользователя.
        Создаёт слова из глобальных samples, пропуская те, что уже есть у пользователя.
      operationId: importSamples
      security:
        - BearerAuth: []
      parameters:
        - name: language
          in: path
          description: Код языка для импорта (EN, DE, ES, FR, IT, RU)
          required: true
          schema:
            type: string
            enum: [EN, DE, ES, FR, IT, RU]
            example: EN
      responses:
        '201':
          description: Samples успешно импортированы
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ImportSamplesResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /examples/{word}:
    get:
      tags:
        - Examples
      summary: Получить примеры использования слова
      description: |
        Возвращает примеры использования слова, генерируемые через OpenAI API.
        Примеры включают: классику, афоризм и разговорный пример.
        Если примеры уже существуют, возвращает сохранённые. Иначе генерирует новые.
        Проверяет, что слово принадлежит авторизованному пользователю.
      operationId: getWordExamples
      security:
        - BearerAuth: []
      parameters:
        - name: word
          in: path
          description: ID слова
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Примеры использования слова
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ExampleResponse'
        '401':
          description: Пользователь не авторизован
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Слово не найдено или не принадлежит пользователю
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Ошибка при генерации примеров через OpenAI API
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT токен авторизации (Laravel Sanctum)

  schemas:
    WordResource:
      type: object
      required:
        - type
        - id
        - attributes
      properties:
        type:
          type: string
          enum: [words]
          example: words
        id:
          type: string
          example: "123"
        attributes:
          type: object
          required:
            - original
            - translated
            - language
            - starred
            - views
            - from_sample
            - created_at
            - updated_at
          properties:
            original:
              type: string
              description: Оригинальное слово
              example: hello
            translated:
              type: string
              description: Перевод слова
              example: привет
            language:
              type: string
              description: Код языка
              enum: [EN, DE, ES, FR, IT, RU]
              example: EN
            done_at:
              type: string
              format: date-time
              nullable: true
              description: Дата и время пометки слова как выученного
              example: null
            starred:
              type: boolean
              description: Статус избранного
              example: false
            views:
              type: integer
              description: Количество просмотров слова
              example: 5
            from_sample:
              type: boolean
              description: Импортировано ли из samples
              example: false
            created_at:
              type: string
              format: date-time
              description: Дата и время создания
              example: "2026-01-11T12:00:00Z"
            updated_at:
              type: string
              format: date-time
              description: Дата и время последнего обновления
              example: "2026-01-11T12:00:00Z"

    WordResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/WordResource'

    WordWithSessionMetaResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/WordResource'
        meta:
          type: object
          description: Метаданные сессии изучения
          required:
            - total
            - next_id
            - prev_id
            - current_index
          properties:
            total:
              type: integer
              description: Общее количество слов в сессии
              example: 10
            next_id:
              type: integer
              nullable: true
              description: ID следующего слова (null если текущее слово последнее)
              example: 124
            prev_id:
              type: integer
              nullable: true
              description: ID предыдущего слова (null если текущее слово первое)
              example: null
            current_index:
              type: integer
              description: Индекс текущего слова (начинается с 1)
              example: 1

    WordsPaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/WordResource'
        meta:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            per_page:
              type: integer
              example: 20
            total:
              type: integer
              example: 100
            last_page:
              type: integer
              example: 5

    UserResource:
      type: object
      required:
        - type
        - id
        - attributes
      properties:
        type:
          type: string
          enum: [users]
          example: users
        id:
          type: string
          example: "1"
        attributes:
          type: object
          required:
            - name
            - email
            - is_admin
            - has_premium
            - created_at
            - updated_at
          properties:
            name:
              type: string
              description: Имя пользователя
              example: John Doe
            email:
              type: string
              format: email
              description: Email пользователя
              example: user@example.com
            is_admin:
              type: boolean
              description: Флаг администратора
              example: false
            has_premium:
              type: boolean
              description: Флаг премиум-подписки
              example: true
            created_at:
              type: string
              format: date-time
              description: Дата и время регистрации
              example: "2026-01-01T00:00:00Z"
            updated_at:
              type: string
              format: date-time
              description: Дата и время последнего обновления
              example: "2026-01-11T12:00:00Z"

    UserResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/UserResource'

    TokenResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum: [auth-token]
              example: auth-token
            id:
              type: string
              example: "1"
            attributes:
              type: object
              properties:
                token:
                  type: string
                  description: JWT токен авторизации
                  example: "1|aBcDeFgHiJkLmNoPqRsTuVwXyZ"
                token_type:
                  type: string
                  example: Bearer
            relationships:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        type:
                          type: string
                          example: user
                        id:
                          type: string
                          example: "1"
        included:
          type: array
          items:
            $ref: '#/components/schemas/UserResource'

    StatisticsResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum: [statistics]
              example: statistics
            attributes:
              type: object
              properties:
                total_words:
                  type: integer
                  description: Количество всех слов пользователя
                  example: 150
                starred_words:
                  type: integer
                  description: Количество избранных слов
                  example: 25
                not_done_words:
                  type: integer
                  description: Количество неизученных слов
                  example: 100
                done_words:
                  type: integer
                  description: Количество изученных слов
                  example: 50
                total_views:
                  type: integer
                  description: Общее количество просмотров
                  example: 1250
                total_users:
                  type: integer
                  description: Количество пользователей в системе
                  example: 1000
                top_viewed_words:
                  type: array
                  description: Топ-10 просматриваемых слов
                  items:
                    $ref: '#/components/schemas/WordResource'
                  maxItems: 10
                words_added_today:
                  type: array
                  description: Слова добавленные сегодня
                  items:
                    $ref: '#/components/schemas/WordResource'
                words_updated_today:
                  type: integer
                  description: Количество обновлённых сегодня слов
                  example: 5
                words_updated_this_month:
                  type: integer
                  description: Количество обновлённых слов в этом месяце
                  example: 45

    ImportSamplesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum: [import-samples]
              example: import-samples
            id:
              type: string
              example: "0"
            attributes:
              type: object
              properties:
                total_created:
                  type: integer
                  description: Количество созданных слов
                  example: 50
                total_skipped:
                  type: integer
                  description: Количество пропущенных слов (уже существуют)
                  example: 10
            relationships:
              type: object
              properties:
                words:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/WordResource'
        included:
          type: array
          items:
            $ref: '#/components/schemas/WordResource'

    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                type: string
                example: "401"
              title:
                type: string
                example: Unauthenticated
              detail:
                type: string
                nullable: true
                example: Word not found or does not belong to user

    ValidationErrorResponse:
      type: object
      properties:
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
              - The email field is required.
            password:
              - The password field is required.

    ExampleResource:
      type: object
      required:
        - type
        - id
        - attributes
      properties:
        type:
          type: string
          enum: [examples]
          example: examples
        id:
          type: string
          example: "123"
        attributes:
          type: object
          required:
            - example_original
            - example_translated
          properties:
            example_original:
              type: array
              description: Три примера на оригинальном языке (классика, афоризм, разговорный)
              items:
                type: string
              maxItems: 3
              minItems: 3
              example:
                - "The classic example demonstrates the concept clearly."
                - "Knowledge is power - Francis Bacon."
                - "Hey, do you want to grab coffee later?"
            example_translated:
              type: array
              description: Три перевода на русский язык
              items:
                type: string
              maxItems: 3
              minItems: 3
              example:
                - "Классический пример наглядно демонстрирует концепцию."
                - "Знание - сила - Фрэнсис Бэкон."
                - "Привет, хочешь grab coffee позже?"

    ExampleResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ExampleResource'

    WordTranslationResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum: [word-translations]
              example: word-translations
            id:
              type: string
              example: temp
            attributes:
              type: object
              properties:
                translation:
                  type: string
                  description: Перевод слова на русский язык (максимум 100 символов)
                  maxLength: 100
                  example: привет
